{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block contenido %}

    <div class="container mt-3">
        <h3>Login</h3>
        <hr>

        {% include 'message.html' %}

        <div class="col-6">
            <form action="{% url 'login' %}" method="post" class="needs-validation" novalidate>
                {% csrf_token %}

                {% if error %}
                    <small class="text-danger">{{ error }}</small>
                {% endif %}

                <div class="mb-2">
                    <label for="usuario" class="form-label">Usuario <b class="text-danger">*</b></label>
                    <input class="form-control" type="text" name="usuario" id="usuario" required>

                    <div class="invalid-feedback">El campo Usuario es requerido</div>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password <b class="text-danger">*</b></label>
                    <input class="form-control" type="password" name="password" id="password" required>

                    <div class="invalid-feedback">El campo Password es requerido</div>
                </div>

                <div class="mb-5 text-end">
                    <a href="{% url 'reset_password' %}">¿Olvidaste tu contraseña?</a>
                </div>

                <input class="btn btn-primary" type="submit" name="action" value="Login">
            </form>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict'
  
    var forms = document.querySelectorAll('.needs-validation')
  
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
    })()
    </script>
{% endblock %}