{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block contenido %}

    <div class="container mt-3">
        <h3>Recuperar contraseña</h3>
        <hr>

        {% include 'message.html' %}

        <div class="col-6">            
        
            <form action="{% url 'reset_password' %}" method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-2">
                    <label for="username" class="form-label">Escribe tu nombre de usuario <b class="text-danger">*</b></label>
                    <input class="form-control" type="text" name="username" required>
                </div>

                <div class="mb-2">
                    <label for="email" class="form-label">Escribe tu correo <b class="text-danger">*</b></label>
                    <input class="form-control" type="email" name="email" required>
                </div>

                <input class="btn btn-primary mt-3" type="submit" name="action" value="Recuperar">

            </form>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>

    (function () {
    'use strict'
    
    var forms = document.querySelectorAll('.needs-validation')
    
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }
    
            form.classList.add('was-validated')
        }, false)
        })
    })()
    </script>
{% endblock %}