{% extends 'base-client.html' %}

{% block css %}
{% endblock %}

{% block contenido %}

    <div class="container-fluid p-5">
        <h3>Mis Requerimientos</h3>
        <hr>

        {% include 'message.html' %}

        <form action="{% url 'mis_requerimientos' %}" method="get">
            <label for="filter" class="form-label">Buscar por Código, Usuario Reporta o Estado</label>
            <div class="row g-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" name="filter" value="{{filter}}">
                </div>
                <div class="col-auto">
                    <input class="btn btn-dark" type="submit" value="Buscar">
                </div>
                <div class="col text-end">
                    <a class="btn btn-success" href="{% url 'requerimiento_nuevo' %}">Crear Nuevo</a>
                </div>
            </div>
        </form>

        <table class="table mt-3">
            <tr>
                <th>Código</th>
                <th>Creado Por</th>
                <th>Asignado A</th>
                <th>Fecha</th>
                <th>Área</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>Observaciones</th>
                <th></th>
            </tr>
            {% for item in requerimientos %}
            <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.usuario_reporta }}</td>
                <td>{{ item.usuario_asignado }}</td>
                <td>{{ item.fecha_registro}}</td>
                <td>{{ item.area }}</td>
                <td>{{ item.estado }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.observaciones }}</td>
                <td class="text-end">
                    <a class="btn btn-primary" href="{% url 'requerimiento_atender' id=item.id %}">Atender</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block js %}    
{% endblock %}