{% extends 'base-admin.html' %}

{% block css %}
{% endblock %}

{% block contenido %}

    <div class="container mt-3">
        <h3>Requerimiento : Crear</h3>
        <hr>

        {% include 'message.html' %}

        <form action="{% url 'requerimiento_create' %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <label for="usuario_reporta_id" class="form-label">Usuario reporta <b class="text-danger">*</b></label>
                    <select name="usuario_reporta_id" class="form-control" required>
                        {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}">{{ usuario }}</option>
                        {% endfor %}
                    </select>

                    <div class="invalid-feedback">El campo Usuario crea es requerido</div>
                </div>

                <div class="col-12 col-md-6">
                    <label for="area_id" class="form-label">Área <b class="text-danger">*</b></label>
                    <select name="area_id" class="form-control" required>
                        {% for area in areas %}
                        <option value="{{ area.id }}">{{ area }}</option>
                        {% endfor %}
                    </select>

                    <div class="invalid-feedback">El campo Área es requerido</div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 col-md-12">
                    <label for="descripcion" class="form-label">Descripción <b class="text-danger">*</b></label>
                    <textarea class="form-control" name="descripcion" rows="5" required></textarea>

                    <div class="invalid-feedback">El campo Descripción es requerido</div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <label for="estado_id" class="form-label">Estado <b class="text-danger">*</b></label>
                    <select name="estado_id" class="form-control" required>
                        {% for estado in estados %}
                        <option value="{{ estado.id }}">{{ estado }}</option>
                        {% endfor %}
                    </select>

                    <div class="invalid-feedback">El campo Estado es requerido</div>
                </div>
            </div>

            <div class="mt-3">
                <input class="btn btn-primary" type="submit" name="action" value="Registrar">
                <a class="btn btn-danger" href="{% url 'requerimiento_index' %}"> Cancelar</a>
            </div>

        </form>
    </div>
{% endblock %}

{% block js %}  
<script>
        
    (function () {
    'use strict'
    
    var forms = document.querySelectorAll('.needs-validation')
    
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }
    
            form.classList.add('was-validated')
        }, false)
        })
    })()
    </script>
{% endblock %}